/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-sg-block-bootstenberg-columns {
  margin-left: 0 !important;
  margin-right: 0 !important;

  &.guide{
	border: 1px dotted lightslategrey;
  }

  .block-editor-inner-blocks {
	margin: 20px;
	flex: 1;
  }

  .components-dropdown.block-editor-inserter {
	width: 100%;
  }

  .sg-block-name {
	display: flex;
	justify-content: center;
	align-items: center;

	.dashicons {
	  margin-right: 5px;
	}
  }

}

.sg-insppector{
	margin-bottom: 10px;

  p{
	margin: 0 0 2px 0;
  }
  .components-button-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  }

  .components-button-group > button {
	width: 25%;
	padding: 0;
	justify-content: center;
  }

  .label{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0 10px;
  }

  .btn-clean{
	color: red;
	border: 1px solid;
	border-radius: 5px;
	cursor: pointer;
	padding: 4px 5px;
	background: white;
  }

}


.sg-toolbar{

  button{
	width: 45px;
	height: 100%;
	cursor: pointer;
	color: lightgrey;
  }

  button.active{
	color: black;
  }

}
